:root {
    --yellow-color: #f4ce14;
    --primary-color: white;
    --secondary-color: black;

    --heading-size: 60px;
    --paragraph-size: 20px;
    --btn-fs: 18px;
}

.main {
    font-family: "Markazi Text", serif;

    .hero {
        background-color: #495e57;
        display: flex;
        color: white;

        .hero__desc {
            max-width: 25%;
            margin: 1rem auto;

            h1 {
                color: var(--yellow-color);
                font-size: var(--heading-size);
            }

            h2 {
                font-size: 30px;
            }

            p {
                max-width: 80%;
                font-size: var(--paragraph-size);
                padding: 1rem 0;
            }
        }

        .hero__image {
            margin: auto;
            height: 300px;
            width: 300px;

            img {
                margin-top: 2rem;
                height: 110%;
                width: 100%;
                border-radius: 1rem;
            }
        }
    }

    .specials {
        margin: 8rem 4rem;
        h1 {
            font-size: var(--heading-size);
        }

        .specials__header {
            margin: 4rem 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .specials__cards {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .card {
                background-color: #edefee;
                border-radius: 1rem 1rem 0 0;

                img {
                    height: 200px;
                    aspect-ratio: 2/1.6;
                    border-radius: 1rem 1rem 0 0;
                }

                .item-name-price {
                    display: flex;
                    justify-content: space-between;

                    h2 {
                        padding: 1rem;
                    }
                }

                p {
                    font-size: var(--paragraph-size);
                    padding: 1rem;
                    max-width: 250px;
                    display: flex;

                    img {
                        margin: 0 1rem;
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
    }
}

.btn {
    background-color: var(--yellow-color);
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: var(--btn-fs);
}

@media screen and (min-width: 900px) {
    .hero__image {
        height: 100px;
        width: 100px;
        img {
            height: 110%;
            width: 100%;
        }
    }
}
